body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: darkgray;
}

.header-container {
    text-align: center;
    color: #333;
}

#game-title {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

#game-status {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
}

.board-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 1px;
    margin: 20px auto;
    width: fit-content;
    background-color: aqua;
    border: 1px solid black;
}

.controls-container {
    text-align: center;
    margin-top: 20px;
}

.boardSquare-one, .boardSquare-two {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #000;
}

.boardSquare-one:hover, .boardSquare-two:hover {
    opacity: .8;
}

.game-status {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

.missed-one, .missed-two {
    background-color: white;
}
.hit-one, .hit-two {
    background-color: red;
}
.sunk-one, .sunk-two {
    background-color: black;
}

.ship {
    background-color: blue;
}

.near-ship {
    background-color: yellow;
}

.attacked, .sunk-one, .sunk-two {
    pointer-events: none;
    cursor: default;
}




button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}