body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: darkgray;
}

.header-container {
    text-align: center;
    color: #333;
}

#game-title {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}

.board-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 1px;
    margin: 20px auto;
    width: fit-content;
    background-color: aqua;
    border: 1px solid black;
}

.controls-container {
    text-align: center;
    margin-top: 20px;
}

.boardSquare {
    width: 50px;
    height: 50px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #000;
}

.game-status {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

.missed {
    background-color: white;
}
.hit {
    background-color: red;
}
.sunk {
    background-color: black;
}

.ship {
    background-color: blue;
}