body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: darkgray;
}

.header-container {
    text-align: center;
    color: #333;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 1px;
    margin: 20px auto;
    width: fit-content;
    background-color: aqua;
    border: 1px solid black;
}

.controls-container {
    text-align: center;
    margin-top: 20px;
}